<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vetappointment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VetAppointment">
        <activity
            android:name=".Servicios"
            android:exported="false"
            android:label="Ingreso de Servicios">
            <intent-filter>
                <action android:name="com.example.ServiciosVet" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Progressbar"
            android:exported="false"
            android:label="Cargando">
            <intent-filter>
                <action android:name="com.example.Progressbar" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginVet"
            android:exported="false"
            android:label="Login Veterinario">
            <intent-filter>
                <action android:name="com.example.LoginVet" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginUsuario"
            android:exported="false"
            android:label="Login Usuario">
            <intent-filter>
                <action android:name="com.example.LoginUsuario" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistroVet"
            android:exported="false"
            android:label="Registro Veterinaria">
            <intent-filter>
                <action android:name="com.example.RegistroVet" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro"
            android:exported="false"
            android:label="Registro Usuario">
            <intent-filter>
                <action android:name="com.example.Registro" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.VetAppointment.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>